<nav class="navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <app-sidebar></app-sidebar>
</nav>
<div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="../index.html">Manage Municipal
                Name</a>
            <!-- Form -->
            <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                </div>
            </form>
            <!-- User -->
            <ul class="navbar-nav align-items-center d-none d-md-flex">
                <app-profile></app-profile>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->

            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <!-- Table -->

        <!-- Dark table -->
        <div class="row mt-5">
            <div class="col">
                <div class="card bg-default shadow">
                    <div class="card-header bg-transparent border-0">
                        <!-- <h3 class="text-white mb-0">Card tables</h3> -->
                        <button (click)="OpenCreateDialog()" class="btn btn-info">Add Municipal Name</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-dark table-flush">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">place of residence</th>
                                    <th scope="col">place of residence village</th>
                                    <th scope="col">municipal status </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of home.places">
                                    <td>
                                        <span *ngFor="let residence of home.placeofresidence">
                                            <span *ngIf="obj.placeofresidenceid==residence.id">
                                                {{residence.placeofresidence}}
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span *ngFor="let village of home.placeofresidencevillage">
                                            <span *ngIf="obj.placeofresidencevillageid==village.id">
                                                {{village.placeofresidencevillage}}
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span *ngFor="let status of home.municipalStatus">
                                            <span *ngIf="status.id == obj.municipalstatusid">
                                                <span *ngFor="let name of home.municipalName">
                                                    <span *ngIf="status.municipalnameid == name.id">
                                                        {{name.municipalname}}
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div
                                                class="dropdown-menu dropdown-menu-right dropdown-menu-arrow dropdown-menu">
                                                <a style="color: red;" class="dropdown-item "><button
                                                        (click)="OpenDeleteDialog(obj.id)"
                                                        class="btn btn-danger">Delete</button></a>
                                                <a style="color: rgb(132, 132, 207);" class="dropdown-item"><button
                                                        class="btn btn-info"
                                                        (click)="OpenUpdateDialog(obj)">Update</button></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Form -->
<ng-template #callCreateDialog>
    <h2 mat-dialog-title>Add Municipal Name</h2>
    <mat-dialog-content class="mat-typography">
        <form class="example-form" [formGroup]="createForm">
            <mat-form-field appearance="fill">
                <mat-label>Select Village</mat-label>
                <mat-select formControlName="placeofresidencevillageid">
                    <mat-option *ngFor="let village of home.placeofresidencevillage" [value]="village.id">
                        {{village.placeofresidencevillage}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Select Residence</mat-label>
                <mat-select formControlName="placeofresidenceid">
                    <mat-option *ngFor="let residence of home.placeofresidence" [value]="residence.id">
                        {{residence.placeofresidence}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Select Municipal Name</mat-label>
                <mat-select formControlName="municipalstatusid">
                    <mat-option *ngFor="let status of home.municipalStatus" [value]="status.id">
                        <span *ngFor="let name of home.municipalName">
                            <span *ngIf="status.municipalnameid == name.id">
                                {{name.municipalname}}
                            </span>
                        </span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveData()">save</button>
    </mat-dialog-actions>
</ng-template>

<!-- Update Form -->
<ng-template #callUpdateDialog>
    <h2 mat-dialog-title>Add Municipal Name</h2>
    <mat-dialog-content class="mat-typography">
        <form class="example-form" [formGroup]="updateForm">
            <mat-form-field appearance="fill">
                <mat-label>Select Village</mat-label>
                <mat-select [(ngModel)]="p_data.placeofresidencevillageid" formControlName="placeofresidencevillageid">
                    <mat-option *ngFor="let village of home.placeofresidencevillage" [value]="village.id">
                        {{village.placeofresidencevillage}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Select Residence</mat-label>
                <mat-select formControlName="placeofresidenceid" [(ngModel)]="p_data.placeofresidenceid">
                    <mat-option *ngFor="let residence of home.placeofresidence" [value]="residence.id">
                        {{residence.placeofresidence}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Select Municipal Name</mat-label>
                <mat-select formControlName="municipalstatusid" [(ngModel)]="p_data.municipalstatusid">
                    <mat-option *ngFor="let status of home.municipalStatus" [value]="status.id">
                        <span *ngFor="let name of home.municipalName">
                            <span *ngIf="status.municipalnameid == name.id">
                                {{name.municipalname}}
                            </span>
                        </span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveUpdateData()">save</button>
    </mat-dialog-actions>
</ng-template>
<!-- Delete -->
<ng-template #callDeleteDialog>
    <h4>Are You Sure You Want To Delete</h4>
    <button class="btn btn-danger" mat-dialog-close="yes">
        <h4 class="display-5">Yes</h4>
    </button>
    <button class="btn btn-info display-2" mat-dialog-close="no">
        <h4 class="display-5 .text-white">No</h4>
    </button>
</ng-template>


<!-- UPDATE FORM -->
<!-- [(ngModel)]="p_data.municipalname" -->